		<div class="footer">
			<div class="full">
				<div class="footer-text">
					Все права защищены © 2021
					<br>
					Дизайн сайта от <a href="http://lsart.ru/" onclick="window.open(this.href); return false" rel="nofollow" class="lsart">LSART.RU</a>
					<br>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/home.html">Главная</a></li>
						<li><a href="/our-works.html">Наши работы</a></li>
						<li><a href="/photos.html">Фото</a></li>
						<li><a href="/single-page.html">Страница</a></li>
						<li><a href="/our-works.html">Статьи</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div id="utbr8214" rel="s20"></div>

</body>
</html>