<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-lt-installed="true">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Укладка тротуарной плитки Харьков цена</title>


	<meta name="description" content="Тротуарная плитка и укладка, предоставляем все расходные материалы песок, цемент, щебень, брусчатку"> 
	<meta name="keywords" content="тротуарная плитка, укладка тротуарной плитки, брусчатка, мощение, старый город, ландшафтный дизайн, плитка, сухопрессованная плитка, вибролитая, изготовление тротуарной плитки, фото цена тротуарной плитки, брук, плитка купить Харьков">

	<link type="text/css" rel="StyleSheet" href="./css/my.css">

	<link rel="stylesheet" href="./css/base.min.css">
	<link rel="stylesheet" href="./css/layer7.min.css">

	<script src="./js/jquery-1.12.4.min.js"></script>
	
	<script src="./js/uwnd.min.js"></script>

	<script type="text/javascript">/* --- UCOZ-JS-INIT_CODE --- */
		window.ulb = {photoPage:"Перейти на страницу с фотографией.", closeBtn:"Закрыть", error:"Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next:"Следующий", prev:"Предыдущий", btnPlay:"Начать слайдшоу", btnToggle:"Изменить размер", };
	/* --- UCOZ-JS-END --- */</script>

	<link rel="stylesheet" href="./css/ulightbox.min.css">
	<script src="./js/ulightbox.min.js"></script>

	<style type="text/css">.UhideBlock{display:none; }</style>
	<script type="text/javascript">
		new Image().src = "//counter.yadro.ru/hit;noadsru?r"+escape(document.referrer)+(screen&&";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth||screen.pixelDepth))+";u"+escape(document.URL)+";"+Date.now();
	</script>
	<script type="text/javascript">//<!--
		function uSocialLogin(t) {
			var params = { 'facebook':{ 'width':950, 'height':520 }, 'google':{ 'width':700, 'height':600 } };
			var ref = escape(location.protocol + '//' + ('plita.kh.ua' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' ))));
			// var ref = escape(location.href);
			window.open('/'+t+'?ref='+ref,'conwin','width='+params[t].width+',height='+params[t].height+',status=1,resizable=1,left='+parseInt((screen.availWidth/2)-(params[t].width/2))+',top='+parseInt((screen.availHeight/2)-(params[t].height/2)-20)+'screenX='+parseInt((screen.availWidth/2)-(params[t].width/2))+',screenY='+parseInt((screen.availHeight/2)-(params[t].height/2)-20));
			return false;
		}
//-->
	</script>

	<link type="text/css" rel="stylesheet" href="./css/social.css">
</head>

<body>