<div class="catPages1" align="center" id="pagesBlock1" style="clear:both;">
	<b class="swchItemA">
		<span>1</span>
	</b>
	<a class="swchItem" href="http://plita.kh.ua/?page2" onclick="spages(&#39;2&#39;, this);return false;">
		<span>2</span>
	</a>
	<a class="swchItem" href="http://plita.kh.ua/?page3" onclick="spages(&#39;3&#39;, this);return false;">
		<span>3</span>
	</a>
	<span class="swchItemDots"><span>...</span></span>
	<a class="swchItem" href="http://plita.kh.ua/?page16" onclick="spages(&#39;16&#39;, this);return false;">
		<span>16</span>
	</a>
	<a class="swchItem" href="http://plita.kh.ua/?page17" onclick="spages(&#39;17&#39;, this);return false;">
		<span>17</span>
	</a> 
	<a class="swchItem" href="http://plita.kh.ua/?page2" onclick="spages(&#39;2&#39;, this);return false;">
		<span>»</span>
	</a>
</div>