<div style="text-align:center;">
	<span class="pagesBlockuz2">
		<b class="swchItemA1">
			<span>1-5</span>
		</b> 
		<a class="swchItem1" href="http://plita.kh.ua/load/?page2" onclick="spages(&#39;2&#39;,this);return false;"><span>6-10</span></a> 
		<a class="swchItem1" href="http://plita.kh.ua/load/?page3" onclick="spages(&#39;3&#39;,this);return false;"><span>11-15</span></a> 
		<span class="swchItemDots"><span>...</span></span> 
		<a class="swchItem1" href="http://plita.kh.ua/load/?page40" onclick="spages(&#39;40&#39;,this);return false;"><span>196-200</span></a> 
		<a class="swchItem1" href="http://plita.kh.ua/load/?page41" onclick="spages(&#39;41&#39;,this);return false;"><span>201-203</span></a> 
	</span>
</div>