<div class="block">
	<div class="block-title">Навигация</div>
	<div class="clear"></div>
	<div class="block-content">
		<ul class="b-nav">
			<li><a href="/home.html"><span>Главная</span></a></li>
			<li><a href="/single-page.html"><span>Цены</span></a></li>
			<li><a href="/our-works.html"><span>Наши работы</span></a></li>
			<li><a href="/single-page.html"><span>Как выбрать тротуарную плитку?</span></a></li>
			<li><a href="/single-article.html"><span>Фото тротуарной плитки</span></a></li>
			<li><a href="/single-article-2.html"><span>Технология укладки</span></a></li>
			<li><a href="/single-article.html"><span>Статьи об укладке</span></a></li>
		</ul>
	</div>
</div>