<div class="entry">
	<div class="viewn">
		<div class="viewn-title">
			<div class="viewn-name">
				<a href="http://plita.kh.ua/load/ukladka_trotuarnoj_plitki/plitka_staryj_gorod_zaezd_pod_mashinu_obshhaja_ploshhad_112_m2/3-1-0-219">плитка Старый город заезд под машину общая площадь 112 м2</a>
			</div>
			<div class="viewn-date">15 Апреля 2020</div>
		</div>
		<div class="viewn-mess">
			<p style="text-align: center;">
				<img alt="укладка тротуарной плитки на основе" src="./our-works_files/ukladka_plitki_osnova_kharkov.jpg" style="width: 650px; height: 487px;">
			</p>
		</div>
	</div>
</div>