@join:../layouts/head.html;

	<div id="wrapper">

		<script type="text/javascript" src="./js/script.js"></script>
		<script type="text/javascript" src="./js/slides.js"></script>

		@join:../layouts/header.html;
		@join:../layouts/carousel.html;


		<div class="side-main full">
			@join:../layouts/sidebar.html;

			<div class="side-in">
				<div id="allEntries">

					@repeat:5;
						@join:../layouts/entry/entry-t2.html;
					@end;
					
					@join:../layouts/pag2.html;
				</div>
			</div>
		</div>

@join:../layouts/footer.html;